<% title ["一店一宝"].join(',') %>
<% meta_keywords ["一店一宝", "淘宝店铺推广专家"].join(' - ') %>
<% meta_description ["一店一宝"].join(' - ') %>

<dl class="top_sum">
  <dt class="dt2"><a href="#">热门</a></dt>
  <dd>
    <ul>
      <% @product_cates.each do |item| %>
        <li><%=link_to item.name, "/?cate=#{item.en_name}" %></li>
      <% end %>
      <div class="clear"></div>
    </ul>
  </dd>
  <div class="clear"></div>
</dl>
<div id="product_item_on"></div>

<div class="sum2">
  <% @hot_product_items.each do |item| %>
    <dl>
      <dt><a href="#" class="product_item_show" id="product_item_show_<%= item.id %>"><%=item.title %></a></dt>
      <a href="#" class="product_item_show" id="product_item_show_<%= item.id %>">
      <dd>
        <div class="pic1"><%=image_tag item.big_image_path %></div>
        <% item.other_images.split(/[,|]/).each_with_index do |img_path, index| %>
          <div class="pic<%=index + 2%>"><%=image_tag img_path %></div>
          <% break if index > 1 %>
        <% end %>
      </dd>
      </a>
    </dl>
  <% end %>
  <div class="clear"></div>
</div>

<!-- <ul class="fenye">
 <li class="li2"><a href="#">1</a></li>
 <li><a href="#">2</a></li>
 <li><a href="#">3</a></li>
</ul> -->