<% title ["红宝石信息技术网，专业网站建设专家"].join(',') %>
<% meta_keywords ["成都红宝石信息技术网", "网站建设，网站推广，公关软文，电子商务，企业信息化，Ruby on Rails"].join(' - ') %>
<% meta_description ["红宝石信息技术网，多年互联网从业经验，团队为企业提供企业策划、网站建设、网络推广、公关软文、电子商务等一站式服务！联系电话：15928661802"].join(' - ') %>

<dl class="top_sum">
  <dt class="dt2"><a href="#">热门</a></dt>
  <dd>
    <ul>
      <% @product_cates.each do |item| %>
        <li><%=link_to item.name, "/?cate=#{item.en_name}" %></li>
      <% end %>
      <div class="clear"></div>
    </ul>
  </dd>
  <div class="clear"></div>
</dl>
<div id="product_item_on"></div>

<div class="sum2">
  <% @hot_product_items.each do |item| %>
    <dl>
      <dt><a href="#" class="product_item_show" id="product_item_show_<%= item.id %>"><%=item.title %></a></dt>
      <a href="#" class="product_item_show" id="product_item_show_<%= item.id %>">
      <dd>
        <div class="pic1"><%=image_tag item.image_path1 %></div>
        <div class="pic2"><%=image_tag item.image_path2 %></div>
        <div class="pic3"><%=image_tag item.image_path3 %></div>
      </dd>
      </a>
    </dl>
  <% end %>
  <div class="clear"></div>
</div>

<!-- <ul class="fenye">
 <li class="li2"><a href="#">1</a></li>
 <li><a href="#">2</a></li>
 <li><a href="#">3</a></li>
</ul> -->